<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint name="WcfProxyDemo.Service.DemoService" address="http://localhost:5001/demo" binding="basicHttpBinding" contract="WcfProxyDemo.Service.IDemoService" />
    </client>
    <services>
      <service name="WcfProxyDemo.Service.DemoService">
        <endpoint address="http://localhost:5001/demo" binding="basicHttpBinding" contract="WcfProxyDemo.Service.IDemoService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>